/* scrollbar */
@import 'simplebar-react/dist/simplebar.min.css';

body{
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.video-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 1; 
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  /* transform: scale(1.5) translateX(300px); */
}

.video-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;  /* 비디오 뒤로 배경 배치 */
}

.swiper-pagination {
  /* width: 96px !important; */
  /* margin: 0 auto;  */
  height : '18px !important';
}

.custom-swiper .swiper-pagination-bullet {
  margin: 0 7px !important;
  background-color: #F86825;
  transition: all 0.3s ease;
  width : 12px;
  height : 12px;
}

.custom-swiper .swiper-pagination-bullet-active {
  position: 'relative';
  background-color: #F86825; 
  transition: all 0.3s ease;
  height : 12px;
  bottom : -2.5px;
}

.custom-swiper .swiper-pagination-bullet-active::after {
  content: ''; 
  position: absolute;
  top: 30%; 
  left: 50%;
  transform: translate(-50%, -50%); 
  width: 20px;
  height: 12px; 
  border-radius: 99px; 
  background-color: #F86825; 
  z-index: -1; 
}

/* .custom-swiper .swiper-pagination-bullet-active-prev,
.custom-swiper .swiper-pagination-bullet-active-next, */
/* 

.custom-swiper .swiper-pagination-bullet-active-prev-prev,
.custom-swiper .swiper-pagination-bullet-active-next-next {
  visibility: hidden !important; 
} */


a {
  text-decoration: none;
  color: inherit; /* 부모 요소의 색상 상속 */
}

a:hover {
  text-decoration: none; /* 호버 시 밑줄 */
}

::selection {
  background-color: #F86825; /* 선택된 텍스트의 배경색 */
  color: white; /* 선택된 텍스트의 글자색 */
}


ul {
  list-style-position: inside;
  padding-left: 0;
}

ul li {
  padding-left: 0;
}